@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --basewhite: rgba(255, 255, 255, 1);
  --blue600-primary: rgba(41, 114, 255, 1);
  --body-text-body-3-regular-font-family: "Helvetica Neue", Helvetica;
  --body-text-body-3-regular-font-size: 14px;
  --body-text-body-3-regular-font-style: normal;
  --body-text-body-3-regular-font-weight: 400;
  --body-text-body-3-regular-letter-spacing: -0.23999999463558197px;
  --body-text-body-3-regular-line-height: 21px;
  --grey-50: rgba(246, 247, 249, 1);
  --grey-950: rgba(40, 42, 55, 1);
  --monochrome-600: rgba(130, 136, 160, 1);
  --monochrome-900: rgba(52, 54, 64, 1);
  --primary-950: rgba(0, 0, 0, 1);
  --monochrome-200: rgba(200, 200, 200, 1);
  --body-text-body-4-regular-font-family: "Helvetica Neue", Helvetica;
  --body-text-body-4-regular-font-size: 12px;
  --body-text-body-4-regular-font-style: normal;
  --body-text-body-4-regular-font-weight: 400;
  --body-text-body-4-regular-letter-spacing: -0.20px;
  --body-text-body-4-regular-line-height: 18px;
}
